:root {
    --timeline-color: #ABB2B9;
    --timeline-card-border-color: #AAB7B8;
    --timeline-card-bkg-color: #EAECEE;
    --timeline-card-txt-color: #5D6D7E;
    --timeline-tag-employee-color: #F8C471;
    --timeline-tag-freelance-color: #7DCEA0;
    --timeline-tag-consultant-color: #7DCEA0;
    --timeline-tag-formation-color: #BB8FCE;
    --timeline-tag-education-color:#A5C4D4;
    --timeline-tag-other-color: #E5E8E8;
    --timeline-info-color: #CCD1D1;
}

div.legend {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex: 1;
    position: relative;
    margin: 0;
    
}

div.legend span i {
    margin-right: 2px;
}

div.legend span {
    font-size: 0.5em;
    padding-left:10px;
}




.timeline-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex: 1;
    position: relative;
    margin: 40px 0;
}

.timeline-container .line {
    background-color: var(--timeline-color);
    border-width: 0px;
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
}

.timeline-container.layout1 .line {
    left: calc(50% - 2px);
}

.timeline-container.layout2 .line {
    left: 0px;
}

.timeline-column-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    margin: 10px 0;
    flex: 1;
}

.timeline-column-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    flex: 1;
}

.timeline-container.layout1 .timeline-column-right {
    margin: 80px 0;
}

.timeline-container.layout2 .timeline-column-right {
    margin: 10px 0;
}

.timeline-legend {
    font-size: 0.5em;
    position: absolute;
    top: 10px;
    right: 10px;
    height: 10px;
    color: grey;
    width: 20%;
    max-width: 20%
}

.timeline-event {
    display: flex;
    position: relative;
    margin: 40px 0;
    width: 100%;
}


.timeline-event.left {
    justify-content: flex-end;
    padding-right: 30px;
}

.timeline-event.right {
    align-self: flex-end;
    justify-content: flex-start;
    padding-left: 30px;
    padding-right: 0;
}

.timeline-event-sidebar {
    margin-left: 2px;
    border-left: 1px dashed var(--timeline-card-bkg-color);
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 50px;
    justify-content: flex-start;
    align-items: flex-start;
}

.timeline-event.left .timeline-event-sidebar {
    margin-right: 2px;
    border-left: 0px;
    border-right: 1px dashed var(--timeline-card-bkg-color);
    align-items: flex-end;
}

.timeline-event-sidebar span {
    font-size: 0.6em;
    font-weight: normal;
    font-style: italic;
    color: var(--timeline-card-txt-color);
    padding: 0px;
    margin: 0px;
    line-height: 1.1em;
    opacity: 0.6;
    text-transform: capitalize;
}

.timeline-event-content {
    border: 0px solid var(--timeline-card-border-color);
    border-radius: 0px;
    background-color: var(--timeline-card-bkg-color);
    display: flex;
    flex-direction: column;
    padding: 5px 15px 15px 15px;
    position: relative;
    width: 400px;
    max-width: 100%;
}


.timeline-event.right .timeline-event-content {
    text-align: left;
    align-items: flex-start;
}

.timeline-event.left .timeline-event-content {
    text-align: right;
    align-items: flex-end;
}


.timeline-event-content::after {
    content: ' ';
    background-color: var(--timeline-card-bkg-color);
    top: 20px;
    border-width: 0px;
    transform: rotate(45deg);
    width: 20px;
    height: 20px;
    position: absolute;
}

.timeline-event.left .timeline-event-content::after {
    right: -10px;
}


.timeline-event.right .timeline-event-content::after {
    right: auto;
    left: -10px;
}

.timeline-event-content .tag {
    color: #fff;
    font-size: 7px;
    font-weight: bold;
    top: 3px;
    left: 3px;
    letter-spacing: 0.5px;
    padding: 2px;
    position: absolute;
    text-transform: uppercase;
}

.timeline-event-content .tag.employee {
    background: var(--timeline-tag-employee-color);
}

.timeline-event-content .tag.freelance {
    background: var(--timeline-tag-freelance-color);
}

.timeline-event-content .tag.consultant {
    background: var(--timeline-tag-consultant-color);
}

.timeline-event-content .tag.formation {
    background: var(--timeline-tag-formation-color);
}

.timeline-event-content .tag.education {
    background: var(--timeline-tag-education-color);
}

.timeline-event-content .tag.other {
    background: var(--timeline-tag-other-color);
}

.timeline-event.right .timeline-event-content .tag {
    left: auto;
    right: 3px;
}

.timeline-event-content time {
    color: #5D6D7E;
    font-size: 0.6em;
    font-weight: normal;
    /*top: 3px;
    position: absolute;*/
}



.timeline-event-content p.title {
    font-size: 0.75em;
    margin-top: 0em;
    margin-bottom: 0px;
    max-width: 90%;
    color: #5D6D7E;
    font-weight: bold;
}



.timeline-event-content p.description {
    --lh: 13px;
    line-height: var(--lh);
    font-size: 0.65em;
    max-width: 90%;
    color: #5D6D7E;
    --max-lines: 3;
    max-height: calc(var(--lh) * var(--max-lines));
    overflow: hidden;
    margin-bottom: 1.5em;
    margin-top: 2px;
    cursor: default;
}

.timeline-event-content p.description.withtooltip {
    cursor: help;
}


.timeline-event-content p.description .tooltiptext {
    visibility: hidden;
    width: 320px;
    background-color: white;
    border: 1px dashed var(--timeline-color);
    color: var(--timeline-card-txt-color);
    text-align: left;
    border-radius: 6px;
    padding: 5px;

    /* Position the tooltip */
    position: absolute;
    z-index: 150;
    top: 30%;
    left: 60%;
}

.timeline-event.left .timeline-event-content p.description .tooltiptext {
    right: 60%;
    left: auto;
}



.timeline-event-content p.description:hover .tooltiptext {
    visibility: visible;
}


.timeline-event-content div.links {
    position: absolute;
    bottom: 2px;
    border: 0px solid black;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}


.timeline-event-content div.links a {
    margin-left: 4px;
    font-size: 0.7em;
    font-weight: bold;
}

.timeline-event-content .moreinfo {
    font-size: 0.7em;
    color: var(--timeline-card-txt-color);
    opacity: 0.9;
}




.timeline-event-content .duration {
    font-size: 0.6em;
    font-weight: bold;
    position: absolute;
    bottom: 2px;
    margin-top: 4px;
    color: #5D6D7E;
}

.timeline-event-content .duration::before {
    font-family: "Font Awesome 5 Free";
    /* updated font-family */
    font-weight: 400;
    /* regular style/weight */
    content: "\f017";
    margin-right: 2px;
}


.timeline-event.left .timeline-event-content .duration {
    left: 5px;
}

.timeline-event.right .timeline-event-content .duration {
    right: 5px;
}


.timeline-event-content .pin {
    background-color: #fff;
    border: 3px solid var(--timeline-color);
    border-radius: 50%;
    position: absolute;
    top: 18px;
    width: 25px;
    height: 25px;
    z-index: 100;
}



.timeline-event-content .pin.employee {
    background-color: var(--timeline-tag-employee-color);
}

.timeline-event-content .pin.freelance {
    background-color: var(--timeline-tag-freelance-color);
}

.timeline-event-content .pin.consultant {
    background-color: var(--timeline-tag-consultant-color);
}

.timeline-event-content .pin.formation {
    background-color: var(--timeline-tag-formation-color);
}

.timeline-event-content .pin.education {
    background-color: var(--timeline-tag-education-color);
}

.timeline-event-content .pin.other {
    background-color: var(--timeline-tag-other-color);
}

.timeline-event.right .timeline-event-content .pin {
    right: auto;
    left: -43px;
}

.timeline-event.left .timeline-event-content .pin {
    left: auto;
    right: -42px;
}

.timeline-event-content img.logo {
    top: -32px;
    right: auto;
    left: 3px;
    padding: 2px;
    position: absolute;
    height: 30px;
    opacity: 0.9;
}



.timeline-event.right .timeline-event-content img.logo {
    left: auto;
    right: 3px;
}



.timeline-event-content .info {
    background-color: transparent;
    position: absolute;
    top: -1.6em;
    z-index: 100;
    font-size: 2em;
    color: var(--timeline-info-color);
}

.timeline-event.left .timeline-event-content .info {
    right: 2%;
    left: auto;
    text-align: right;
}

.timeline-event.right .timeline-event-content .info {
    left: 2%;
    right: auto;
    text-align: left;
}

.timeline-event-content .info.industry {
    font-size: 0.7em;
    top: -1.5em;
}






@media only screen and (max-width: 1023px) {
    .timeline-event-content {
        max-width: 80%;
    }
}

@media only screen and (max-width: 767px) {



    .timeline-event-content .tag {
        width: calc(100% - 10px);
        text-align: center;
    }

    .timeline-event-content time {
        margin-top: 15px;
    }

    .timeline-event-content a {
        text-decoration: underline;
    }


}

/**
*
* OVERVIEW
*
* 
*/

div.category,
div.industry {
    margin-bottom: 0.5em;
}

div.category>p,
div.industry>p {
    text-align: left;
    margin-bottom: 0px;
}

div.progress-bar.employee {
    background: var(--timeline-tag-employee-color);
}

div.progress-bar.freelance,
div.progress-bar.consultant {
    background: var(--timeline-tag-freelance-color);
}

div.progress-bar.other {
    background: var(--timeline-tag-other-color);
}

div.industry div.progress-bar {
    background: var(--timeline-card-txt-color) ;
}

#spider {
    width: 100%;
    height: auto;
    border: 1px dotted var(--timeline-info-color);
}

#spider g.grid circle {
    fill: none;
    stroke: var(--timeline-color);
    opacity: 0.5;
    stroke-width: 0.5px;
}

#spider g.grid line{
    fill: none;
    stroke: var(--timeline-color);
    stroke-width: 0.5px;
    opacity: 0.5;
}

#spider g.grid text {
    font-size: 0.4em;
}

#spider g.grid g.important text {
    font-weight: bold;
}


#spider g.grid g.axis.left text {
    text-anchor: end;
}

#spider g.grid g.axis.right text {
    text-anchor: start;
}

#spider g.data circle {
    fill: #A9CCE3;
    stroke: white;
    stroke-width: 1px; 
}

#spider g.data path.curve {
    fill: #A9CCE3;
    fill-opacity: 0.5;
    stroke: #A9CCE3;
    stroke-width: 2px;
}