

.map{
  fill: #fff;
  stroke: #fff;
}

path.country {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 0.5px;
}



line {
    stroke: brown;
    stroke-width:1px;
    stroke-dasharray: 4,2;
    }

.node circle {
  fill: #fff;
  stroke: #aaa;
  stroke-width: 1.5px;
}

.node {
  font: 10px sans-serif;
}


text{
  cursor: default;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.title {
  font-family: Arial;
  font-size: 1.5em;
  fill: #666;
  font-weight:bold;
  --text-shadow: 3px 3px 7px #111;
}

.subtitle.country {
  font-family: Arial;
  font-size: 1.0em;
  fill: #aaa;
  font-weight:bold;
  --text-shadow: 3px 3px 7px #111;
}

.info.country {
  font-family: Arial;
  font-size: 0.8em;
  fill: #aaa;
  font-weight:bold;
  --text-shadow: 3px 3px 7px #111;
}

.subtitle.cohort{
  text-anchor: end;
}

circle.cohort{
  fill: steelblue;
  -- stroke-width: 1.5px;
}


text.pin {
  font: 5px Arial;
  fill: black;
  opacity: 1;
}

path.pin{
  fill: steelblue;
  stroke: #333;
  stroke-width: 0px;
  opacity: 1;
}

circle.pin{
  opacity: 0.7;
}



text.legend  {

   font-family: Arial;
  font-size: 0.5em;
  text-anchor: start;
  fill: gray;

 }

 text.legend.title  {


  font-size: 0.9em;

 }


/**
    HTML CSS

*/

aside{
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: 1em 1em 1em 1em;
  font-size: small;
  left: 810px;
  position: absolute;
  text-align: left;
  width: 240px;
  height:540px;
  color: #636363;
  box-shadow: 2px 3px 5px 2px #888888;
  padding: 0.5em 0em 0em 1em;

}

select{
  font-family: "Helvetica Neue", Helvetica, sans-serif;

  font-size: small;
  
  color: #636363;
}

#graphpanel{
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: small;
  width: 800px;
  height:550px;

  box-shadow: 2px 3px 5px 2px #888888;
  padding: 0.1em 0em 0em 1em;
  margin:0em;

}

#map{
  padding: 0em 0em 0em 0em;
  margin: 0em 0em 0em 0em;

}

svg {
  width: 780px;
  padding: 0em 0em 0em 0em;
  margin: 0em 0em 0em 0em;

  border-top: solid 1px #ccc;
  background: #fff;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

svg.tooltip {
  width: 12px;
  height: 12px;
  padding: 0em 0em 0em 0em;
  margin: 0em 0em 0em 0em;
  border: 0px;
  border: solid 1px #ccc;
  background: rgba(255,255,255,0.8);  
  float:left; 
}

div.tooltip {   
  position: absolute;           
  text-align: left;           
  width: 210px;                  
  --height: 170px; 
  min-height: 60px;                
  padding: 0em 0em 1em 0.5em;            
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 0.8em;        
  background: rgba(255,255,255,0.9);   
  border:2px solid steelblue;   
  border-radius: 6px;           
  pointer-events: none;      
}

a.tooltip {
  pointer-events: all;
}

span.tooltip.title {

  color: lightgray;
}

div.tooltip.cohort{  
  width: 230px;   
}

div.tooltip table, td, th{   
  font-size: 0.7em;
  padding: 0em 0em 0em 0em; 
  overflow: hidden; 
  white-space: nowrap;
  --border: 1px solid black;
}

.tooltip.objectives {
  font-size: 0.8em;
  font-style:italic;
}

div.tooltip td:not(.secondcol){   
  text-overflow: ellipsis; 
}

div.tooltip table{
  width:200px;
  table-layout:fixed;
}

div.tooltip td.firstcol {
    width:150px
}

div.tooltip td.secondcol {
    width:50px;
    border-left: 1px solid lightgray;
    padding: 0em 0em 0em 0.3em; ;

}

h1.tooltip{
  color: steelblue;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1em; 
}




span.network{
   font-size: 0.4em;
   margin: 0em 0.2em 0em 0em;

}

label.network.title{
    font-weight:bold;
    text-decoration:underline;
    font-size: 0.9em;

}

label.network{
   font-size: 0.8em;
}

div.subnetwork {
    padding: 0em 0em 0em 1em; 
}

#wrapper {
  max-width: 220px;
  overflow: auto; 
  padding: 0em 0em 0em 0.2em;  
}

#Other{
  --max-width: 100px;
  overflow: auto; 
  padding: 0em 0em 0em 0.2em; 
  width: 100px;
}

#EuroCoord {
  width: 110px;
  overflow: auto;
  padding: 0em 0em 1em 0.2em; 
  --background-color: yellow;
}

#IeDEA {
      max-width: 150px;
      padding: 0em 0em 1em 0.2em; 
     -- background-color: cyan;
}
.fl {
  float: left;
}

.clr {
  clear: both;
}

p.filter { 
  margin-bottom: 4px;
  margin-top: 0px;
}

td.filter {
    font-size: small;
}


#devpanel{
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: small;
  width: 800px;
  height:300px;

  box-shadow: 2px 3px 5px 2px #888888;
  padding: 0.1em 0em 0em 1em;
  margin:0em;

}

.axis.dev path,
.axis.dev line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar.dev {
  fill: steelblue;
}

.x.axis.dev path {
  display: none;
}







